.mon{background-color:#F0F;}
.tue{background-color:#0FF;}
.wed{background-color:#FF0;}
.thu{background-color:#00F;}
.fri{background-color:#0f0;}
.sat{background-color:#F00;}
.sun{background-color:#000;}
